body 
{ 
    font-family: Verdana, Geneva, "Bitstream Vera Sans", Helvetica; 
    /* font-family: Georgia, "Bitstream Vera Serif", "New York", Palatino; */ 
    font-size: 103%; 
} 
 
th, td /* Needed for NN4 as its tables do not inherit styles */ 
{ 
    font-family: Verdana, Geneva, "Bitstream Vera Sans", Helvetica; 
    /* font-family: Georgia, "Bitstream Vera Serif", "New York", Palatino; */ 
    font-size: 103%; 
} 
 
/* Headers */
h1 { font-size: 160%; }
h2 { font-size: 130%; }
h3 { font-size: 116%; }


/* Standard sizes */ 
.normal-size { font-size: 103%; }
.small { font-size: 88%; }
.smaller { font-size: 77%; }
.smallest { font-size: 68%; }
