<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<n:invisible xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:n="http://nevow.com/ns/nevow/0.1">
  <p>Le lezioni hanno inizio il 16 Settembre 2004 e terminano il 10 giugno 2005.</p>
  <ul>
    <li>Nella scuola dell'infanzia le attività educative iniziano il 16 settembre 2004 e terminano il 30 giugno 2005</li>
    <li>Il calendario delle festività, in conformità alle disposizioni vigenti, è il seguente:
    <ul>
      <li>Tutte le domeniche</li>
      <li>1 Novembre, festa di Tutti i Santi</li>
      <li>2 Novembre, commemorazione Defunti</li>
      <li>8 Dicembre, Immacolata Concezione</li>
      <li>25 Dicembre, Natale del Signore</li>
      <li>26 Dicembre, Santo Stefano</li>
      <li>1 Gennaio, Capodanno</li>
      <li>6 Gennaio, Epifania del Signore</li>
      <li>Lunedì dopo Pasqua</li>
      <li>25 Aprile, Anniversario della liberazione</li>
      <li>1 Maggio. Festa del Lavoro</li>
      <li>2 Giugno, festa della Repubblica</li>
    </ul></li>
    <li>Festa del Santo Patrono:
    <ul>
      <li>20 maggio, San Bernardino per Graffignano Sipicciano</li>
      <li>26 Aprile, San Flaviano per Montefiascone</li>
    </ul></li>
    
    <li>La sospensione delle lezioni è stabilita nei seguenti periodi:
    <ul>
      <li>dal 23 dicembre 2004 all'8 gennaio 2005, vacanze Natalizie</li>
      <li>dal 23 marzo al 30 marzo, vacanze Pasquali</li>
    </ul></li>
    <li>Giovedì e Martedì grasso le lezioni si svolgeranno solo in orario antimeridiano</li>
  </ul>
</n:invisible> 
