<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<n:invisible xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:n="http://nevow.com/ns/nevow/0.1">
  <ul id="pagemenu">
    <li><a href="/canteen">Information</a></li>
    <li><a href="/canteen/provider" id="current">Provider</a></li>
    <li><a href="/canteen/menu">Menu</a></li>
    <li><a href="/canteen/canteen_pics">Pics</a></li>
  </ul>
  <div id="content">
    <p>La ditta fornitrice dei pasti è il Centro di Ristorazione Collettiva di Susegana (Tv).</p>
    
    <p>I piatti vengono consegnati qualche minuto prima del pranzo e serviti agli alunni da operatori qualificati della società appaltante il servizio.</p>
    
    <p>Ogni mese vengono definiti questi turni che regolamentano l’afflusso all’aula mensa:</p>
    
    <p>ore 13.10 - 13.15 - 13.20</p>
  </div>
</n:invisible> 