<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<n:invisible xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:n="http://nevow.com/ns/nevow/0.1">
  <ul id="pagemenu">
    <li><a href="/canteen">Information</a></li>
    <li><a href="/canteen/provider">Provider</a></li>
    <li><a href="/canteen/menu" id="current">Menu</a></li>
    <li><a href="/canteen/canteen_pics">Pics</a></li>
  </ul>
      <div id="content">
        <h1>
          Menu mensile estivo
        </h1>
        <p>
          In vigore dal 02/05/2001 (concordato con il Servizio di
          Pediatria di Comunit&agrave; - Azienda USL di Ferrara)
        </p>
        <table>
          <tr>
            <td></td>
            <td>
              PRIMO PIATTO
            </td>
            <td>
              SECONDO PIATTO
            </td>
            <td>
              CONTORNO
            </td>
            <td>
              DESSERT
            </td>
          </tr>
          <tr>
            <td>
              Prima settimana
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>
              Luned&igrave;
            </td>
            <td>
              Riso con verdure di stagione
            </td>
            <td>
              Formaggio
            </td>
            <td>
              Zucchine o melanzane
            </td>
            <td>
              Dolce
            </td>
          </tr>
          <tr>
            <td>
              Marted&igrave;
            </td>
            <td>
              Pasta con prosciutto e piselli
            </td>
            <td>
              Scaloppine con le erbe
            </td>
            <td>
              Carote
            </td>
            <td>
              Frutta
            </td>
          </tr>
          <tr>
            <td>
              Mercoled&igrave;
            </td>
            <td>
              Pasta con olio e grana
            </td>
            <td>
              Arrosto al forno
            </td>
            <td>
              Insalata mista
            </td>
            <td>
              Frutta
            </td>
          </tr>
          <tr>
            <td>
              Gioved&igrave;
            </td>
            <td>
              Pasta al pomodoro
            </td>
            <td>
              Frittata con verdure
            </td>
            <td>
              Spinaci
            </td>
            <td>
              Frutta
            </td>
          </tr>
          <tr>
            <td>
              Venerd&igrave;
            </td>
            <td>
              Minestrone di verdura
            </td>
            <td>
              Limanda/platessa dorata
            </td>
            <td>
              Patate lessate
            </td>
            <td>
              Frutta
            </td>
          </tr>
          <tr>
            <td>
              Seconda settimana
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>
              Luned&igrave;
            </td>
            <td>
              Insalata di riso
            </td>
            <td>
              Frittata
            </td>
            <td>
              Fagiolini
            </td>
            <td>
              Frutta
            </td>
          </tr>
          <tr>
            <td>
              Marted&igrave;
            </td>
            <td>
              Minestrone ortolano
            </td>
            <td>
              Bocconcini di pollo
            </td>
            <td>
              Cavolo
            </td>
            <td>
              Frutta
            </td>
          </tr>
          <tr>
            <td>
              Mercoled&igrave;
            </td>
            <td>
              Pasta con ricotta e erbe
            </td>
            <td>
              Limanda/platessa gratinata
            </td>
            <td>
              Carote
            </td>
            <td>
              Frutta
            </td>
          </tr>
          <tr>
            <td>
              Gioved&igrave;
            </td>
            <td>
              Pasta mediterranea
            </td>
            <td>
              Formaggio
            </td>
            <td>
              Pomodori al forno
            </td>
            <td>
              Dolce
            </td>
          </tr>
          <tr>
            <td>
              Venerd&igrave;
            </td>
            <td>
              Pasta alla pizzaiola
            </td>
            <td>
              Scaloppine al limone
            </td>
            <td>
              Insalata mista
            </td>
            <td>
              Frutta
            </td>
          </tr>
          <tr>
            <td>
              Terza settimana
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>
              Luned&igrave;
            </td>
            <td>
              Pasta al tonno
            </td>
            <td>
              Cotoletta di pesce
            </td>
            <td>
              Spinaci
            </td>
            <td>
              Frutta
            </td>
          </tr>
          <tr>
            <td>
              Marted&igrave;
            </td>
            <td>
              Riso con verdure di stagione
            </td>
            <td>
              Formaggio
            </td>
            <td>
              Carote
            </td>
            <td>
              Dolce
            </td>
          </tr>
          <tr>
            <td>
              Mercoled&igrave;
            </td>
            <td>
              Minestra di ceci
            </td>
            <td>
              Cosce di pollo al forno
            </td>
            <td>
              Cavolo
            </td>
            <td>
              Frutta
            </td>
          </tr>
          <tr>
            <td>
              Gioved&igrave;
            </td>
            <td>
              Pasta con olio e grana
            </td>
            <td>
              Frittata con verdure
            </td>
            <td>
              Insalata mista
            </td>
            <td>
              Frutta
            </td>
          </tr>
          <tr>
            <td>
              Venerd&igrave;
            </td>
            <td>
              Pasta al pomodoro
            </td>
            <td>
              Carne alla pizzaiola
            </td>
            <td>
              Patate al forno
            </td>
            <td>
              Frutta
            </td>
          </tr>
          <tr>
            <td>
              <p class="MsoNormal c13">
                Quarta settimana
              </p>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>
              Luned&igrave;
            </td>
            <td>
              Minestrone di verdura
            </td>
            <td>
              Pizza
            </td>
            <td>
              Finocchi
            </td>
            <td>
              Frutta
            </td>
          </tr>
          <tr>
            <td>
              Marted&igrave;
            </td>
            <td>
              Pasta con sugo ortolano
            </td>
            <td>
              Frittata con formaggio
            </td>
            <td>
              Patate al forno
            </td>
            <td>
              Frutta
            </td>
          </tr>
          <tr>
            <td>
              Mercoled&igrave;
            </td>
            <td>
              Risotto alla parmigiana
            </td>
            <td>
              Carne alla pizzaiola
            </td>
            <td>
              Insalatone di verdure
            </td>
            <td>
              Dolce
            </td>
          </tr>
          <tr>
            <td>
              Gioved&igrave;
            </td>
            <td>
              Gnocchi di patate
            </td>
            <td>
              Mozzarella alla caprese
            </td>
            <td>
              Pomodori
            </td>
            <td>
              Frutta
            </td>
          </tr>
          <tr>
            <td>
              Venerd&igrave;
            </td>
            <td>
              Pasta con sugo di pesce
            </td>
            <td>
              Pesce gratinato
            </td>
            <td>
              Insalata mista
            </td>
            <td>
              Frutta
            </td>
          </tr>
        </table>
        <p>LEGENDA:
        L'alternanza di LIMANDA/PLATESSA dipende dalla fornitura.
        La verdura è preferibile di stagione, il contorno fra parentesi è da considerarsi 
        come seconda scelta in alternativa a quello indicato.
        La frutta è preferibile di stagione; può essere fresca o al forno e può sostituire 
        qualsiasi dessert. Il dolce può essere al forno o al cucchiaio.
        Le diete e preparazioni alimentari speciali sono concordate prima con le cuoche e i 
        genitori dei bambini; con l'utilizzo degli alimenti permessi devono essere il più 
        possibile simili a quelle degli altri bambini.</p>

        <h1>
          Menu mensile invernale
        </h1>
        <p>In vigore dal 09/10/2000 (concordato con il Servizio di
        Pediatria di Comunit&agrave; - Azienda USL di Ferrara)</p>
        <table>
          <tr>
            <td>
            </td>
            <td>
              <p>
                PRIMO PIATTO
              </p>
            </td>
            <td>
              <p>
                SECONDO PIATTO
              </p>
            </td>
            <td>
              <p>
                CONTORNO
              </p>
            </td>
            <td>
              <p>
                DESSERT
              </p>
            </td>
          </tr>
          <tr>
            <td>
              <p>
                Prima settimana
              </p>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>
              Luned&igrave;
            </td>
            <td>
              Pasta e fagioli
            </td>
            <td>
              Limanda/platessa dorata
            </td>
            <td>
              Carote (Insalata mista)
            </td>
            <td>
              Frutta
            </td>
          </tr>
          <tr>
            <td>
              Marted&igrave;
            </td>
            <td>
              Pasta con olio e grana
            </td>
            <td>
              Formaggio
            </td>
            <td>
              Zucchine
            </td>
            <td>
              Dolce
            </td>
          </tr>
          <tr>
            <td>
              Mercoled&igrave;
            </td>
            <td>
              Crema di patate
            </td>
            <td>
              Scaloppine al limone
            </td>
            <td>
              Fagiolini
            </td>
            <td>
              Yogurt
            </td>
          </tr>
          <tr>
            <td>
              Gioved&igrave;
            </td>
            <td>
              Risotto arlecchino
            </td>
            <td>
              Bocconcini di pollo
            </td>
            <td>
              Insalata mista
            </td>
            <td>
              Frutta
            </td>
          </tr>
          <tr>
            <td>
              Venerd&igrave;
            </td>
            <td>
              Pasta al pomodoro
            </td>
            <td>
              Frittata al forno
            </td>
            <td>
              Spinaci
            </td>
            <td>
              Frutta
            </td>
          </tr>
          <tr>
            <td>
              Seconda settimana
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>
              Luned&igrave;
            </td>
            <td>
              Risotto con spinaci
            </td>
            <td>
              Formaggio
            </td>
            <td>
              Finocchi
            </td>
            <td>
              Dolce
            </td>
          </tr>
          <tr>
            <td>
              Marted&igrave;
            </td>
            <td>
              Minestrone di legumi
            </td>
            <td>
              Limanda/platessa gratinata
            </td>
            <td>
              Insalata mista
            </td>
            <td>
              Frutta
            </td>
          </tr>
          <tr>
            <td>
              Mercoled&igrave;
            </td>
            <td>
              Pasta alla pizzaiola
            </td>
            <td>
              Arrosto al forno
            </td>
            <td>
              Patate lessate
            </td>
            <td>
              Frutta
            </td>
          </tr>
          <tr>
            <td>
              Gioved&igrave;
            </td>
            <td>
              Crema di verdura
            </td>
            <td>
              Frittata al forno con verdure
            </td>
            <td>
              Carote (Fagioli)
            </td>
            <td>
              Yogurt
            </td>
          </tr>
          <tr>
            <td>
              Venerd&igrave;
            </td>
            <td>
              Pasta con zucchine
            </td>
            <td>
              Fettina ai ferri
            </td>
            <td>
              Patate al forno
            </td>
            <td>
              Frutta
            </td>
          </tr>
          <tr>
            <td>
              <p class="MsoNormal c13">
                Terza settimana
              </p>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>
              Luned&igrave;
            </td>
            <td>
              Passato di verdure
            </td>
            <td>
              Pizza
            </td>
            <td>
              Carote
            </td>
            <td>
              Yogurt
            </td>
          </tr>
          <tr>
            <td>
              Marted&igrave;
            </td>
            <td>
              Garganelli con verdure
            </td>
            <td>
              Tacchino alla pizzaiola
            </td>
            <td>
              Spinaci
            </td>
            <td>
              Frutta
            </td>
          </tr>
          <tr>
            <td>
              Mercoled&igrave;
            </td>
            <td>
              Pasta con sugo di pesce
            </td>
            <td>
              Cotoletta di pesce al forno
            </td>
            <td>
              Insalata mista
            </td>
            <td>
              Dolce
            </td>
          </tr>
          <tr>
            <td>
              Gioved&igrave;
            </td>
            <td>
              Pasta con piselli
            </td>
            <td>
              Frittata con formaggio
            </td>
            <td>
              Finocchi (Cavolo)
            </td>
            <td>
              Frutta
            </td>
          </tr>
          <tr>
            <td>
              Venerd&igrave;
            </td>
            <td>
              Pasta con pomodoro
            </td>
            <td>
              Spezzatino di tacchino
            </td>
            <td>
              Patate lessate (Polenta)
            </td>
            <td>
              Frutta
            </td>
          </tr>
          <tr>
            <td>
              Quarta settimana
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>
              Luned&igrave;
            </td>
            <td>
              Pasta con tonno
            </td>
            <td>
              Pesce gratinato
            </td>
            <td>
              Patate lessate
            </td>
            <td>
              Frutta
            </td>
          </tr>
          <tr>
            <td>
              Marted&igrave;
            </td>
            <td>
              Minestra di riso e ceci
            </td>
            <td>
              Formaggio
            </td>
            <td>
              Pomodori al forno
            </td>
            <td>
              Yogurt
            </td>
          </tr>
          <tr>
            <td>
              Mercoled&igrave;
            </td>
            <td>
              Pasta olio e grana
            </td>
            <td>
              Fettina ai ferri
            </td>
            <td>
              Cavolo (Patate al forno)
            </td>
            <td>
              Dolce
            </td>
          </tr>
          <tr>
            <td>
              Gioved&igrave;
            </td>
            <td>
              Passato di verdure
            </td>
            <td>
              Pollo al forno
            </td>
            <td>
              Insalata mista
            </td>
            <td>
              Frutta
            </td>
          </tr>
          <tr>
            <td>
              Venerd&igrave;
            </td>
            <td>
              Risotto con funghi
            </td>
            <td>
              Arrosto di maiale
            </td>
            <td>
              Carote (Insalata mista)
            </td>
            <td>
              Frutta
            </td>
          </tr>
        </table>
        <p>LEGENDA:
        L'alternanza di LIMANDA/PLATESSA dipende dalla fornitura.
        La verdura è preferibile di stagione, il contorno fra parentesi è da 
        considerarsi come seconda scelta in alternativa a quello indicato.
        La frutta è preferibile di stagione; può essere fresca o al forno e può 
        sostituire qualsiasi dessert. Il dolce può essere al forno o al cucchiaio.
        Le diete e preparazioni alimentari speciali sono concordate prima con le 
        cuoche e i genitori dei bambini; con l'utilizzo degli alimenti permessi devono 
        essere il più possibile simili a quelle degli altri bambini.</p>
      </div>
</n:invisible> 