<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<n:invisible xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:n="http://nevow.com/ns/nevow/0.1">
  <ul id="pagemenu">
    <li><a href="/canteen">Information</a></li>
    <li><a href="/canteen/provider">Provider</a></li>
    <li><a href="/canteen/menu">Menu</a></li>
    <li><a href="/canteen/canteen_pics" id="current">Pics</a></li>
  </ul>
  <div id="content">
    <img src="pics/1.jpg" alt="Bambini che mangiano in mensa" />
    <img src="pics/2.jpg" alt="Bambini che mangiano in mensa" />
    <img src="pics/3.jpg" alt="Bambini che mangiano in mensa" />
    <img src="pics/4.jpg" alt="Bambini che mangiano in mensa" />
  </div>
</n:invisible> 