<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<n:invisible xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:n="http://nevow.com/ns/nevow/0.1">
  <ul id="pagemenu">
    <li><a href="/canteen" id="current">Information</a></li>
    <li><a href="/canteen/provider">Provider</a></li>
    <li><a href="/canteen/menu">Menu</a></li>
    <li><a href="/canteen/canteen_pics">Pics</a></li>
  </ul>
  <div id="content">
    <p>La mensa interna della scuola elementare "Bruno Ciari" di Cocomaro di Cona (Fe) è gestita da un Comitato di genitori che si assume nella persona del Presidente di comitato, la piena responsabilità civile e penale in merito al funzionamento della mensa stessa, secondo le leggi previste e vigenti nel nostro paese. 
    La regolamentazione ed il buon funzionamento della gestione sono costantemente garantite e monitorate dalla convenzione con l'assessorato alla pubblica istruzione e dal rapporto di stretta collaborazione con il servizio di pediatria di comunità dell'A.S.L. di Ferrara, con l'Istituto di Igiene Pubblica e con l'Istituto di Zooprofilassi.</p>
  </div>
</n:invisible> 
