
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<n:invisible xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:n="http://nevow.com/ns/nevow/0.1">
  <ul id="pagemenu">
    <li><a href="/classes/proposals/">All Proposals</a></li>
    <li><a href="/classes/proposals/to">By To</a></li>
    <li><a href="/classes/proposals/insert" id="current">Insert new proposal</a></li>
  </ul>
  <div id="content">
    <n:invisible n:render="form add" />
  </div>
</n:invisible> 