<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<n:invisible xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:n="http://nevow.com/ns/nevow/0.1">
  <ul id="pagemenu">
    <li><a href="/classes/years">School Years</a></li>
    <li><a href="/classes">All classes</a></li>
    <li><a href="/classes/proposals">Teaching Proposals</a></li>
    <li><a href="/classes/laboratories">Laboratories</a></li>
    <li><a href="/classes/timetable">Timetable</a></li>
    <!-- <li><a href="/classi/avvisi">Avvisi</a></li> -->
    <li><a href="/classes/useful_material" id="current">Useful material</a></li>
    <li><a href="/classes/teachers">Teachers</a></li>
  </ul>
  <div id="content">
    <p><strong>Astuccio:</strong><br />
    l&rsquo;astuccio deve essere fornito di penne di diversi colori (rossa, nera e blu), gomma, matita, temperino, pastelli colorati e pennarelli.</p>
    <p><strong>Grembiule:</strong><br />
    i primi giorni di scuola saranno fornite tutte le informazioni riguardanti le modalit&agrave; d&rsquo;acquisto del grembiule</p>
  </div>
</n:invisible> 