<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<n:invisible xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:n="http://nevow.com/ns/nevow/0.1">
  <ul id="pagemenu">
    <li><a href="/classes/years">School Year</a></li>
    <li><a href="/classes" id="current">All Classes</a></li>
    <li><a href="/classes/proposals">Proposals</a></li>
    <li><a href="/classes/laboratories">Laboratories</a></li>
    <li><a href="/classes/timetable">Timetable</a></li>
    <!-- <li><a href="/classi/avvisi">Avvisi</a></li>  Link duplicato nella barra principale-->
    <li><a href="/classes/useful_material">Useful material</a></li>
    <li><a href="/classes/teachers">Teachers</a></li>
  </ul>
  <div id="content">
    <p>School Year <n:invisible n:data="year" n:render="string" /></p>
    <h2>Classes Summary</h2>
    <table>
      <thead>
	<tr>
	  <th>Class</th>
	</tr>
      </thead>
      <tbody n:data="classes" n:render="sequence">
	<tr n:pattern="item">
	  <td n:render="reference_to_string" />
	</tr>
	<tr n:pattern="empty">
	  <td colspan="4">No classes</td>
	</tr>
      </tbody>
    </table>
  </div>
</n:invisible> 