<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<n:invisible xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:n="http://nevow.com/ns/nevow/0.1">
  <ul id="pagemenu">
    <li><a href="/classes/years">School Year</a></li>
    <li><a href="/classes" id="current">All Classes</a></li>
    <li><a href="/classes/proposals">Proposals</a></li>
    <li><a href="/classes/laboratories">Laboratories</a></li>
    <li><a href="/classes/timetable">TimeTable</a></li>
    <!-- <li><a href="/classi/avvisi">Avvisi</a></li>  Link duplicato nella barra principale-->
    <li><a href="/classes/useful_material">Useful Material</a></li>
    <li><a href="/classes/teachers">Teachers</a></li>
  </ul>
  <div id="content">
    <p>Classes listing:</p>
    <ul n:data="classes" n:render="sequence">
      <li n:pattern="item" n:render="reference_to_string">
	<a href="/classes/class/1A">I A</a>
      </li>
      <li n:pattern="empty">
	No classes
      </li>
      <li>II A</li>
      <li>III A</li>
      <li>IV A</li>
      <li>V A</li>
      <li>I B</li>
      <li>II B</li>
      <li>III B</li>
      <li>IV B</li>
      <li>V B</li>       
    </ul>
  </div>
</n:invisible> 