<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<n:invisible xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:n="http://nevow.com/ns/nevow/0.1">
  <ul id="pagemenu">
    <li><a href="/classes/teachers">All Teachers</a></li>
    <li><a href="/classes/teachers/course">By Course</a></li>
    <li><a href="/classes/laboratories">Laboratories</a></li>
    <li><a href="/classes/proposals">Teaching Proposals</a></li>
    <!-- <li><a href="materiale.html">Materiale didattico</a></li> Link duplicato nella barra principale -->
  </ul>
  <div id="content">
    <p>Teachers' data:</p>
    <ul n:data="teacher">
      <li><strong>Name: </strong><n:invisible n:data="name" n:render="string" /></li>
      <li><strong>Surname: </strong><n:invisible n:data="surname" n:render="string" /></li>
      <li><strong>Address: </strong><n:invisible n:data="address" n:render="string" /></li>
      <li><strong>Phone: </strong><n:invisible n:data="phone" n:render="string" /></li>
      <li><strong>Fiscal Code: </strong><n:invisible n:data="fiscal_code" n:render="string" /></li>
      <li><strong>Username: </strong><n:invisible n:data="username" n:render="string" /></li>
      <li><strong>Courses: </strong>
        <ul n:data="courses" n:render="sequence">
	  <li n:pattern="item" n:render="reference_to_string" />
	  <li n:pattern="empty">No courses</li>
	</ul>
      </li>
    </ul>
  </div>
</n:invisible>
