
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<n:invisible xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:n="http://nevow.com/ns/nevow/0.1">
  <ul id="pagemenu">
    <li><a href="/classes/laboratories/related_courses" id="current">Related Courses</a></li>
    <li><a href="/classes/laboratories">Laboratories</a></li>
    <!-- <li><a href="/materiale">Materiale didattico</a></li>   Link duplicato sulla barra principale -->
  </ul>
  <div id="content">
    <p>Laboratory listing:</p>
    <ul n:data="courses" n:render="sequence">
      <li n:pattern="item">
	<strong><n:invisible n:data="name" n:render="string" /></strong>
	<ul n:data="laboratories" n:render="sequence">
	  <li n:pattern="item" n:render="reference_to_string" />
	  <li n:pattern="empty">No laboratories</li>
	</ul>
      </li>
      <li n:pattern="empty">
	No courses
      </li>
    </ul>
  </div>
</n:invisible> 