<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<n:invisible xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:n="http://nevow.com/ns/nevow/0.1">
  <ul id="pagemenu">
    <li><a href="/classes/teachers" id="current">All Teachers</a></li>
    <li><a href="/classes/teachers/course">By Course</a></li>
    <li><a href="/classes/laboratories">Laboratories</a></li>
    <li><a href="/classes/proposals">Teaching Proposals</a></li>
    <!-- <li><a href="materiale.html">Materiale didattico</a></li> Link duplicato nella barra principale -->
  </ul>
  <div id="content">
    <h2>Teachers summary</h2>
    <ul n:data="teachers" n:render="sequence">
      <li n:pattern="item" n:render="reference_to_string" />
      <li n:pattern="empty">
	No teachers
      </li>
    </ul>
  </div>
</n:invisible> 
