<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<n:invisible xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:n="http://nevow.com/ns/nevow/0.1">
  <ul id="pagemenu">
    <li><a href="/classes/proposals/" id="current">All Proposals</a></li>
    <li><a href="/classes/proposals/to">By To</a></li>
    <li><a href="/classes/proposals/insert">Insert new proposal</a></li>
  </ul>
  <div id="content">
    <p>Proposals summary:</p>
    <table>
      <thead>
	<tr>
	  <th>Proposal</th>
	  <th>Teacher</th>
	</tr>
      </thead>
      <tbody n:data="proposals" n:render="sequence">
	<tr n:pattern="item">
	  <td n:render="reference_to_string" />
	  <td n:data="teacher" n:render="reference_to_string" />
	</tr>
	<tr n:pattern="empty">
	  <td colspan="2">No proposals</td>
	</tr>
      </tbody>
    </table>
  </div>
</n:invisible> 