<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<n:invisible xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:n="http://nevow.com/ns/nevow/0.1">
  <ul id="pagemenu">
    <li><a href="/classes/years">School Years</a></li>
    <li><a href="/classes">All classes</a></li>
    <li><a href="/classes/proposals">Teaching Proposals</a></li>
    <li><a href="/classes/laboratories">Laboratories</a></li>
    <li><a href="/classes/timetable" id="current">Timetable</a></li>
    <!-- <li><a href="/classi/avvisi">Avvisi</a></li> -->
    <li><a href="/classes/useful_material">Useful material</a></li>
    <li><a href="/classes/teachers">Teachers</a></li>
  </ul>
  <div id="content">
    <p>
      I ragazzi rimangono a scuola 
      dalle 8.15 alle 16.30 il lunedì, il martedì, il giovedì, il venerdì 
      e dalle 8.15 alle 15.15 il mercoledì).
    </p>
  </div>
</n:invisible> 