<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<n:invisible xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:n="http://nevow.com/ns/nevow/0.1">
      <ul id="pagemenu">
        <li><a href="/classes/laboratories/related_courses">Related Courses</a></li>
        <li><a href="/classes/laboratories" id="current">Laboratories</a></li>
	<!-- <li><a href="/materiale">Materiale didattico</a></li>   Link duplicato sulla barra principale -->
      </ul>
      <div id="content">
        <p>Laboratory listing:</p>
        <ul n:data="laboratories" n:render="sequence">
          <li n:pattern="item" n:render="reference_to_string">
	    <a href="/classes/laboratories/library">Library</a>
	  </li>
	  <li n:pattern="empty">
	    No laboratories
	  </li>
          <li><a href="/classes/laboratories/theatre">Teatro</a></li>
          <li><a href="/classes/laboratories/gym">Palestra</a></li>
          <li><a href="/classes/laboratories/ipermedia">Aula Ipermediale</a></li>
        </ul>
      </div>
</n:invisible> 