<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<n:invisible xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:n="http://nevow.com/ns/nevow/0.1">
  <p>Per contattare la scuola è possibile farlo tramite:</p>
  <ul>
    <li>TEL: 02/00000000</li>
    <li>FAX: 02/00000001</li>
    <li>Direttamente nella segreteria scolastica dalle 12-30 alle 2.00 il giovedì.</li>
  </ul>
  <p>Per contattare i realizzatori del sito è possibile farlo via e-mail:</p>
  <ul>
    <li>Fabio Antonio Vinci: <a href="mailto:fabio_vinci@virgilio.it">fabio_vinci@virgilio.it</a></li>
    <li>Renzo Vannucci: <a href="mailto:renzo.vannucci@gmail.com">renzo.vannucci@gmail.com</a></li>
    <li>Valentino Volonghi: <a href="mailto:dialtone@divmod.com">dialtone@divmod.com</a></li>
  </ul>
</n:invisible> 