<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<n:invisible xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:n="http://nevow.com/ns/nevow/0.1">
  <h2>Materie insegnate e numero settimanale delle lezioni</h2>
  <table summary="tabella ore di studio">
    <thead>
      <tr>
	<td></td>
	<td>1e e 2e classi</td>
	<td>3e, 4e, 5e classi</td>
      </tr>
    </thead>
    <tbody>
      <tr>
	<td>Lingua 1 (1)</td>
	<td>16 x 30 minuti</td>
	<td>9 x 45 minuti</td>
      </tr>
      <tr>
	<td>Lingua 2 (1)</td>
	<td>5 x 30 minuti</td>
	<td>5 x 45 minuti</td>
      </tr>
      <tr>
	<td>Matematica</td>
	<td>8 x 30 minuti</td>
	<td>7 x 45 minuti</td>
      </tr>
      <tr>
	<td>Musica</td>
	<td>3 x 30 minuti</td>
	<td>1 x 45 minuti</td>
      </tr>
      <tr>
	<td>Educ. Artistica</td>
	<td>4 x 30 minuti</td>
	<td>1 x 45 minuti</td>
      </tr>
      <tr>
	<td>Educ. Fisica</td>
	<td>4 x 30 minuti</td>
	<td>1 x 45 minuti</td>
      </tr>
      <tr>
	<td>Attivit&agrave; Formative</td>
	<td>2 x 30 minuti</td>
	<td>4 x 45 minuti</td>
      </tr>
      <tr>
	<td>Religione/Morale</td>
	<td>2 x 30 minuti</td>
	<td>2 x 45 minuti</td>
      </tr>
      <tr>
	<td>Ore Europee</td>
	<td>-</td>
	<td>3 x 45 minuti</td>
      </tr>
    </tbody>
  </table>
  <h3>La religione cattolica e le attivita` alternative</h3>
  <p>I genitori, all'atto dell'iscrizione del proprio figlio
  possono scegliere se avvalersi o non avvalersi
  dell'insegnamento della religione cattolica. La scelta operata
  all'atto dell'iscrizione ha effetto per l'intero anno
  scolastico cui si riferisce e rester&agrave; valida anche
  per gli anni successivi salvo revoca da effettuarsi prima
  dell'inizio dell'anno scolastico. Chi sceglie di non avvalersi
  dell'insegnamento della religione cattolica dovr&agrave;
  compilare un modulo per indicare la preferenza fra le due
  ipotesi possibili:</p>
  <ul>
    <li>attivit&agrave; didattiche e formative;</li>
    <li>uscita dell'alunno/a da scuola (chi si avvale di questa
    scelta dovr&agrave; compilare le dichiarazioni
    predisposte per le modalit&agrave; di uscita anticipata
    o entrata posticipata, valido per l'intero anno
    scolastico.)</li>
  </ul>
  <h3>L'attivita` motoria</h3>
  <p>Anche per quest'anno scolastico si &egrave; giunti ad
  un utilizzo programmato del campo sportivo "coperto" (di
  propriet&agrave; della Polisportiva Cocomarese), sito nei
  pressi della scuola, per le attivit&agrave; di educazione
  motoria, secondo il seguente calendario:</p>
  <table summary="attivita motoria">
    <thead>
      <tr>
	<td>Giornate</td>
	<td>Orario</td>
	<td>Classe</td>
      </tr>
    </thead>
    <tbody>
      <tr>
	<td>Marted&igrave;</td>
	<td>10.00 - 11.00</td>
	<td>II</td>
      </tr>
      <tr>
	<td>Gioved&igrave;</td>
	<td>11.00 - 12.00</td>
	<td>V</td>
      </tr>
      <tr>
	<td>Gioved&igrave;</td>
	<td>12.00 - 13.00</td>
	<td>I</td>
      </tr>
      <tr>
	<td>Venerd&igrave;</td>	
	<td>14.30 - 15.30</td>
	<td>IV</td>
      </tr>      
      <tr>
	<td>Venerd&igrave;</td>	
	<td>15.30 - 16.30</td>	
	<td>III</td>
      </tr>      
      <tr>
	<td>Totale ore:</td>	
	<td>5</td>	
	<td></td>
      </tr>
    </tbody>
  </table>  
  <p><b>Note:</b> un'ora per classe. L'altra ora &egrave; di
  attivit&agrave; psicomotoria e viene svolta nell'auletta libera
  all'interno della scuola. La struttura coperta &egrave;
  occupata da una classe per volta.</p>
  
  <h3>La lingua straniera</h3>
  
  <p>L'insegnamento della lingua inglese si
  configura come momento di sensibilizzazione e di contatto del
  bambino con codici linguistici differenti dal proprio, fornendo
  l'occasione per conoscere culture "altre" e
  favorendo la prospettiva di convivenza tra popoli diversi.
  L'apprendimento di un idioma straniero offre infatti la
  possibilit&agrave; di costruire scambi e valori con
  l'Europa ed il mondo in generale attraverso
  la formazione di personalit&agrave; aperte e rispettose
  dell'altro. Per l'anno
  scolastico 2003-2004
  l'organizzazione del plesso
  vedr&agrave; l'Insegnante Laura S.
  intervenire nelle classi terza e quarta mentre la collega Laura
  L. operer&agrave; sulle classi prima, seconda e quinta.
  La dimensione ludica costituir&agrave;
  l'approccio privilegiato ad ogni forma di
  apprendimento, gioco inteso come dialogo, racconto, canto,
  scambio verbale, drammatizzazione, attivit&agrave; di
  squadra, di coppia o individuale, tutto quello che per il
  bambino &egrave; giocoso, motivante, significativo e
  spontaneo. Gli strumenti utilizzati saranno vari e numerosi. In
  primo luogo incontriamo il libro di testo. Nella classe terza
  &egrave; stato adottato il corso "I spy", nella quarta
  "Little wizard" e nella quinta "Step by step". Importante
  sar&agrave; anche il quaderno di ogni alunno, che si
  arricchir&agrave; a poco a poco di tutti i materiali
  prodotti in base agli argomenti affrontati e che
  servir&agrave; come elemento di rielaborazione personale
  e di scambio con gli altri. Nelle lezioni saranno di volta in
  volta utilizzati: registratori, videoregistratori,
  videocassette, audiocassette, flashcards, cartelloni murali per
  permettere uno svolgimento ricco e stimolante di ogni
  unit&agrave; didattica. Durante tutto il corso
  dell'anno non mancheranno momenti di
  scoperta degli usi e costumi dei popoli anglosassoni per
  incontrare festivit&agrave; e tradizioni particolari ed
  originali nelle loro manifestazioni per i bambini italiani e
  che sono momenti importanti nel processo educativo di
  socializzazione e di educazione multiculturale.</p>
</n:invisible>