<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<n:invisible xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:n="http://nevow.com/ns/nevow/0.1">
  <ul id="pagemenu">
    <li><a href="/index/" id="current">Information on the school's Birth</a></li>
    <li><a href="/index/founder">Information on the founder</a></li>
    <li><a href="/index/dedicated">Information on whom the school is dedicated to</a></li>
  </ul>
  <div id="content">
    <p>Nata nel 2005 con l’intento di inaugurare
    un percorso di studi inedito per obiettivi, contenuti e metodi didattici, la Scuola “Marco Van Basten” è stata frequentata da 300 allievi. 
    Creata da un imprenditore russo Terim Mikailicenco e diretta da un ex insegnante i cui metodi originali colpirono il fondatore.
    La scuola mira ad insegnare ai bambini i concetti fondamentali per proseguire gli studi futuri nel migliore dei modi.</p>
  </div>
</n:invisible> 

