<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<n:invisible xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:n="http://nevow.com/ns/nevow/0.1">
  <ul id="pagemenu">
    <li><a href="/index/">Information on the school's Birth</a></li>
    <li><a href="/index/founder">Information on the founder</a></li>
    <li><a href="/index/dedicated" id="current">Information on whom the school is dedicated to</a></li>
  </ul>
  <div id="content">
    <p><strong>Marco van Basten</strong> <em>(nato ad Utrecht, Olanda il 31 ottobre 1964)</em>, calciatore olandese. Per molti è rimasto 
    il cigno di Utrecht, dalla definizione coniata per lui dal telecronista sportivo Carlo Pellegatti.
    Probabilmente, van Basten è stato uno dei migliori centravanti nella storia del calcio. 
    Ben dotato fisicamente e sempre preparato dal punto di vista atletico, addomesticava 
    la palla con sapienti tocchi, per poi spingere dentro quella palla da qualunque 
    posizione.
    Resta memorabile un suo goal alla rappresentativa dell'allora Unione Sovietica, 
    nel 1988, durante la finale dei campionati europei in Germania. Anche grazie a quella 
    rete, l'Olanda di Ruud Gullit, van Basten, Koeman, Frankie Rijkaard e van Breukelen si 
    aggiudicò il titolo continentale.
    Purtroppo una serie di infortuni alla caviglia posero fine prematuramente alla sua 
    carriera nel 1993, quando aveva appena 29 anni. Marco van Basten ha vinto in carriera 
    tre Palloni d'oro, il primo dei quali nel 1988.</p>
  </div>
</n:invisible>