<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<n:invisible xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:n="http://nevow.com/ns/nevow/0.1">
  <ul id="pagemenu">
    <li><a href="/index/">Information on the school's Birth</a></li>
    <li><a href="/index/founder" id="current">Information on the founder</a></li>
    <li><a href="/index/dedicated">Information on whom the school is dedicated to</a></li>
  </ul>
  <div id="content">
    <p><strong>Terim Mikailicenco</strong>
    noto imprenditore russo nato nel 1968 che, dopo un incidente d’auto che causò la morte 
    di un bambino di 10 anni, dedicò tutta la sua vita nell’aiutare a cresce i bambini più 
    piccoli insegnandoli come affrontare la vita. Quasta scuola fu la prima di innumerevoli 
    opere in questo senso.</p>
  </div>
</n:invisible> 
