<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<n:invisible xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:n="http://nevow.com/ns/nevow/0.1">
  <ul id="pagemenu">
    <li><a href="/logistics">Information</a></li>
    <li><a href="/logistics/map" id="current">Map</a></li>
  </ul>
  <div id="content">
    <img src="logistics_pics/provincia.jpg" alt="Mappa della scuola" />
    <p id="caption">La mappa mostra la locazione della scuola all'interno della citt&agrave;</p>
  </div>
</n:invisible>
