<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<n:invisible xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:n="http://nevow.com/ns/nevow/0.1">
  <ul id="pagemenu">
    <li><a href="/logistics" id="current">Information</a></li>
    <li><a href="/logistics/map">Map</a></li>
  </ul>
  <div id="content">
    <ul>
      <li><h3>In aereo:</h3>
      <ul>
	<li>Aeroporti di Bari e Brindisi (volo nazionali ed internazionali)</li>
      </ul>
      </li>
      <li><h3>In auto:</h3>
      <ul>
	<li><strong>Da Bari:</strong>
	<ul>
	  <li>Strada Statale 16 (Torre a Mare - Mola - Cozze)</li>
	  <li>Strada Statale 100 (Triggiano - Capurso - Noicattaro - Rutigliano)</li>
	</ul>
	</li>
	<li><strong>Da Lecce e Brindisi:</strong> Strada Statale 16 (Monopoli - Polignano)</li>
	<li><strong>Da Taranto:</strong> Strada Statale 172 ( Martina Franca - Locorotondo - Alberobello - Putignano)</li>
	<li><strong>Da Gioia del Colle:</strong> Strada Provinciale per Turi</li>
      </ul>
      </li>
      <li><h3>In treno:</h3>
      <ul>
	<li>Ferrovie Sud-Est, in partenza dalla stazione Centrale di Bari, Taranto e Lecce.</li>
      </ul>
      </li>
    </ul>
  </div>
</n:invisible> 