<!-- <?xml version="1.0" encoding="utf-8"?> -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:n="http://nevow.com/ns/nevow/0.1">
  <head>
    <title>Primary School</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/theme/style.css" title="Stile Base" />
    <link rel="stylesheet" type="text/css" href="/forms.css" title="Stile Base" />
  </head>
  <body>
    <div id="header">
      <h1>
        <span>Primary School</span>
      </h1>
    </div>
    <ul id="mainmenu" n:data="mainmenu" n:render="sequence">
      <li n:pattern="item"><a n:render="url" /></li>
      <li><a href="index.html">Informazioni</a></li>
      <li><a href="cal.html">Calendario Scolastico</a></li>
      <li><a href="mensa.html">Mensa</a></li>
      <li><a href="religione.html">Religione</a></li>
      <li><a href="materie.html">Materie di Studio</a></li>
      <li><a href="info_logistiche.html">Informazioni Logistiche</a></li>
      <li><a href="crediti.html">Crediti</a></li>
      <li><a href="contatti.html">Contatti</a></li>
    </ul>
    <ul id="submenu" n:data="submenu" n:render="sequence">
      <li n:pattern="item"><a n:render="url" /></li>
      <li><a href="classi.html">Classi</a></li>
      <li><a href="avvisi.html">Avvisi</a></li>
      <li><a href="materiale.html">Materiale Didattico</a></li>
    </ul>

    <div id="main">
      <n:invisible n:macro="content" />
    </div>
    <p id="copyright">Copyright (c) 2005 Fabio Vinci, Renzo Vannucci, Valentino Volonghi</p>
  </body>
</html>
