<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<n:invisible xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:n="http://nevow.com/ns/nevow/0.1">
  <ul id="pagemenu">
    <li><a href="/material/works">Works</a></li>
    <li><a href="/material/games">Games</a></li>
    <li><a href="/material/other" id="current">Other</a></li>
    <li><a href="/material/insert">Add material</a></li>
  </ul>
  <div id="content">
    <h2>Barzellette</h2>
    <p>Lo sai qual &egrave; il colmo per un falegname?<br />
    Avere la moglie... scollata<br />
    </p>
    <p>Lo sai qual &egrave; il colmo per un calciatore?<br />
    Avere la testa nel... pallone<br />
    </p>
    <p>Lo sai qual &egrave; il colmo per un palombaro?<br />
    Avere la testa fra le nuvole<br />
    </p>
    <p>Lo sai qual &egrave; il colmo per un bassotto?<br />
    Guardare dall'alto al basso<br />
    </p>
    <p>Lo sai qual &egrave; il colmo per un ladro?<br />
    Fare un grosso colpo senza far rumore<br />
    </p>
    <p>Lo sai qual &egrave; il colmo per un fruttivendolo?<br />
    Aver paura di una... rapina!<br />
    </p>
    <p>Lo sai qual &egrave; il colmo per uno al quale hanno appena regalato un vocabolario?<br />
    </p>
    <p>Rimanere senza parole<br />
    Hai anche tu barzellette o colmi da suggerirci? </p>
    <p><strong>Scrivici</strong>, le pubblicheremo qui, insieme alle nostre</p>
  </div>
</n:invisible> 