<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<n:invisible xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:n="http://nevow.com/ns/nevow/0.1">
  <ul id="pagemenu">
    <li><a href="/material/works" id="current">Works</a></li>
    <li><a href="/material/games">Games</a></li>
    <li><a href="/material/other">Other</a></li>
    <li><a href="/material/insert">Add material</a></li>
  </ul>
  <div id="content">
    <ul n:data="works" n:render="sequence">
      <li n:pattern="item">
	<n:invisible n:render="string_and_link" />
      </li>
      <li n:pattern="empty">
	No works
      </li>
    </ul>
  </div>
</n:invisible> 