<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<n:invisible xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:n="http://nevow.com/ns/nevow/0.1">
  <ul id="pagemenu">
    <li><a href="/notices/subject" id="current">Notices by subject</a></li>
    <li><a href="/notices/insert">Insert Notice</a></li>
  </ul>
  <div id="content">
    <ul n:data="subjects" n:render="sequence">
      <li n:pattern="item"> 
	<n:invisible n:data="0" n:render="string" />
	<ul n:data="1" n:render="sequence">
	  <li n:pattern="item" n:render="reference_to_string">
	    <a href="proposta_didattica.html">Laboratori</a>
	  </li>
	  <li n:pattern="empty">
	    No notice
	  </li>
	</ul>
      </li>
      <li n:pattern="empty">
	No subject
      </li>
    </ul>
  </div>
</n:invisible>
