<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<n:invisible xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:n="http://nevow.com/ns/nevow/0.1">
  <ul id="pagemenu">
    <li><a href="/notices/subject">Notices by subject</a></li>
    <li><a href="/notices/insert">Insert Notice</a></li>
  </ul>
  <div id="content">
    <ul n:data="notice">
      <li><strong>Subject: </strong><n:invisible n:data="subject" n:render="string" /></li>
      <li><strong>Title: </strong><n:invisible n:data="title" n:render="string"/></li>
      <li><strong>Teacher: </strong><n:invisible n:data="teacher" n:render="reference_to_string"/></li>
      <li><strong>Content:</strong></li>
    </ul>
    <p n:data="notice">
      <n:invisible n:data="content" n:render="string"/>
    </p>
  </div>
</n:invisible> 
