<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<n:invisible xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:n="http://nevow.com/ns/nevow/0.1">
  <ul id="pagemenu">
    <li><a href="/notices/subject">Notices by subject</a></li>
    <li><a href="/notices/insert">Insert Notice</a></li>
  </ul>
  <div id="content">
    <p>Notices summary</p>
    <ul n:data="notices" n:render="sequence">
      <li n:pattern="item" n:render="reference_to_string">
	<a href="notice/1">Inaugurazione anno Scolastico</a>
      </li>
      <li n:pattern="empty">
	No notices
      </li>
      <li><a href="avviso/2">Presentazione dell'Organizzazione anno scolastico 2003/04</a></li>
      <li><a href="avviso/3">Retta scolastica mensa</a></li>
    </ul>
  </div>
</n:invisible> 