<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<n:invisible xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:n="http://nevow.com/ns/nevow/0.1">
  <ul id="pagemenu">
    <li><a href="/religion" id="current">Information</a></li>
    <li><a href="/religion/remove">Remove from the lessons</a></li>
  </ul>
  <div id="content">
    <h1>Insegnamento religione cattolica</h1>
    
    <h2>Decreto Dirigenziale 4 febbraio 2004</h2>
    <strong>Indizione concorsi riservati, per esami e titoli, a posti di insegnante di religione cattolica nella scuola dell'infanzia e primaria e nella scuola secondaria di primo e secondo grado</strong>
    <p>Con Decreto Dirigenziale del 4 febbraio 2004 trasmesso ai direttori degli Uffici scolastici regionali con nota prot. n. 187 di pari data, sono stati indetti due distinti concorsi riservati per esami e titoli a posti d'insegnante di religione cattolica compresi nell'ambito territoriale diocesano, in applicazione della legge 18 luglio 2003, n. 186, uno per posti nella scuola dell'infanzia e nella scuola elementare, l'altro per posti nella scuola secondaria di primo e secondo grado.
    L'avviso di pubblicazione è stato pubblicato sulla "Gazzetta Ufficiale" il 6 febbraio 2004
    Il termine per la presentazione della domanda è fissato per lunedì 8 marzo 2004.
    I concorsi sono indetti per la copertura dei posti che risultino vacanti e disponibili all'inizio di ciascuno degli anni scolastici 2004/05, 2005/06 e 2006/07.
    Possono partecipare al concorso a posti di insegnamento della religione cattolica nella scuola dell'infanzia e nella scuola elementare coloro che sono in possesso dei seguenti requisiti:
    1. specifica idoneità per l'insegnamento della religione cattolica rilasciata dall'Ordinario diocesano.
    2. prestazione di servizio continuativo di religione cattolica per almeno quattro anni scolastici nelle scuole statali o paritarie nel periodo tra gli anni scolastici 1993-1994 e 2002-2003
    e di almeno uno dei sottoindicati titoli:
    1. diploma di scuola magistrale. Se in possesso soltanto di questo diploma, i candidati saranno sottoposti a uno specifico accertamento riguardante la scuola dell'infanzia e potranno conseguire contratti a tempo indeterminato solo in tale scuola.
    2. diploma di istituto magistrale o titolo di studio appositamente riconosciuto equivalente.
    3. altro diploma di scuola secondaria superiore, congiunto a diploma rilasciato da un istituto di Scienze religiose riconosciuto dalla Conferenza episcopale italiana o a diploma accademico di Magistero in scienze religiose rilasciato da un istituto di scienze religiose approvato dalla Santa Sede o ad altro titolo ecclesiastico di livello superiore.
    Ovvero si trovino in una delle seguenti posizioni personali:
    1. sacerdote o diacono, oppure religioso/a in possesso di qualificazione riconosciuta dalla Conferenza episcopale italiana in attuazione del can. 804, par.1, del codice di diritto canonico e attestata dall'ordinario diocesano;
    2. insegnante di religione cattolica incaricato di sostituire nell'insegnamento della religione cattolica l'insegnante di classe nella scuola elementare, che con l'anno scolastico 1985/1986 abbia cinque anni di servizio anche non continuativi o ad orario parziale.</p>
    
    
    <h2>Obiettivi specifici di apprendimento</h2>
    <strong>intesa C.E.I. - MIUR del 23 ottobre 2003</strong>
    <p>La Conferenza Episcopale Italiana e il Ministero dell'Istruzione hanno sottoscritto il 23 ottobre 2003 un'intesa per la definizione degli obiettivi specifici di apprendimento propri dell'insegnamento della religione cattolica, da inserire nell'ambito delle indicazioni nazionali per i piani personalizzati delle attività educative in applicazione della legge 53/2003.
    L'intesa riguarda sia la scuola dell'infanzia che il primo ciclo.</p>
    
    
    <h2>Legge 18 luglio 2003, n. 186</h2>
    <strong>Norme sullo stato giuridico degli insegnanti di religione cattolica degli istituti e delle scuole di ogni ordine e grado.</strong>
    <p>Con l'entrata in vigore della legge 186 del 2003, pubblicata sulla "Gazzetta Ufficiale" n. 170 del 24 luglio 2003, è prevista l'istituzione di due distinti ruoli regionali del personale docente destinato ad insegnare la religione cattolica nelle scuole statali di ogni ordine e grado.
    La dotazione organica dei posti per l'insegnamento della religione cattolica, articolata su base regionale, è determinata nel 70% dei posti di insegnamento complessivamente funzionanti.
    L'accesso ai ruoli avverrà con il superamento di concorsi per esami e titoli indetti su base regionale. In prima applicazione della legge, il concorso sarà riservato agli insegnanti di religione cattolica in possesso dei requisiti prescritti, che abbiano prestato continuativamente servizio per almeno quattro anni nel corso degli ultimi dieci anni, con un orario complessivamente non inferiore alla metà di quello d'obbligo anche in ordini e gradi di scuola diversi.
    L'insegnante di religione cattolica al quale sia stata revocata l'idoneità da parte dell'ordinario diocesano, o che si trovi in soprannumero, potrà fruire della mobilità professionale (passaggi di ruolo) nell'ambito del comparto scuola, purché sia in possesso dei titoli di studio e di abilitazione prescritti per l'insegnamento richiesto.</p>
    
    
    <h2>Provincia autonoma di Trento</h2>
    <h3>Legge provinciale 9 aprile 2001, N. 5</h3>
    <strong>Oggetto: Disposizioni sullo stato giuridico del personale docente ed ispettivo per l'insegnamento della religione cattolica.</strong>
    <p>Analogamente a quanto già fatto nel 1998 dalla provincia autonoma di Bolzano, anche la provincia di Trento ha emanato una legge che istituisce posti a tempo indeterminato per l'insegnamento della religione cattolica.
    Ai docenti di religione cattolica si applicano le norme di stato giuridico e di trattamento economico previsti per il personale del corrispondente ordine e grado di scuola della provincia di Trento.
    L'accesso ai ruoli avviene attraverso le procedure previste per il personale docente della scuola statale, ferme restando le norme di attuazione del Concordato con la Chiesa cattolica. In prima applicazione la legge ha previsto l'immissione in ruolo dei docenti di religione che avessero svolto, alla data di entrata in vigore, di un servizio di almeno 8 anni, anche non continuativi, previo superamento di un concorso per soli titoli.</p>
    
    <h2>Dir. Gen. del Personale.</h2>
    <h3>C.M. n° 2 del 3 gennaio 2001</h3>
    <strong>Oggetto: Docenti di religione - Ricostruzione di carriera e trattamento economico.</strong>
    <p>La circolare detta le istruzioni per la presentazione delle domande di ricostruzione di carriera da parte degli insegnanti di religione cattolica che abbiano maturato i requisiti richiesti e le modalità per l'effettuazione dell'inquadramento economico degli interessati, in riferimento alle diverse posizioni giuridiche e a quanto previsto dai contratti collettivi di lavoro.</p>
    
    <h2>Provincia autonoma di Bolzano</h2>
    <h3>Legge provinciale 14 dicembre 1998, N. 12</h3>
    <strong>Oggetto: Disposizioni relative agli insegnanti e ispettori per l'insegnamento della religione cattolica nelle scuole elementari e secondarie nonché disposizioni relative allo stato giuridico del personale insegnante.</strong>
    <p>Lo Statuto di autonomia della provincia autonoma di Bolzano ha consentito l'emanazione di una legge che istituisce ruoli specifici provinciali per l'insegnamento della religione cattolica.
    L'accesso ai ruoli avviene mediante concorso. Nella scuola elementare e media è prevista anche la costituzione di cattedre verticali comprensive dei due ordini di scuola, che vengono assegnate a docenti in possesso dei requisiti specifici per l'insegnamento della religione nella scuola secondaria di primo grado. Per l'insegnamento nella scuola elementare è richiesto anche il superamento del concorso magistrale.
    In prima applicazione la legge ha previsto l'immissione in ruolo dei docenti di religione che avessero svolto un servizio di almeno 12 anni, anche non continuativi, previo superamento di un concorso per soli titoli.</p>
  </div>
</n:invisible>