<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<n:invisible xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:n="http://nevow.com/ns/nevow/0.1">
  <ul id="pagemenu">
    <li><a href="/religion">Information</a></li>
    <li><a href="/religion/remove" id="current">Remove from the lessons</a></li>
  </ul>
  <div id="content">
    <p>Cliccando sul link seguente sara` possibile scaricare il modulo per l'esonero in formato Word</p>
    <p><a href="/religione/esonero/modulo_esonero.doc">Modulo Esonero</a></p>
  </div>
</n:invisible> 